### Libraries

In [1]:
import pyodbc
import pypyodbc
import pandas as pd
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import *
from sqlalchemy import create_engine

C:\Users\ivanm\AppData\Local\Temp\ipykernel_9644\3344598298.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## Connecting to SQL Server

### Database Connection Variables

In [2]:
SERVER_NAME = "MAROB"
DATABASE_NAME = "Portafolio"

### Database Connection Setup

In [7]:
conn = pypyodbc.connect("""
    Driver={{SQL Server}};
    Server={0};
    Database={1};
    Trusted_Connection=yes;""".format(SERVER_NAME,DATABASE_NAME)
)

## Reading Tables from SQL Server

In [ ]:
sql_query = """
SELECT *
FROM [dbo].[table_name]
"""

### Result of the Query Executed

In [ ]:
df_pandas = pd.read_sql(sql_query,conn)
display(df_pandas)

## Creating Tables for SQL Server

### Establashing Connection

In [8]:
conn_string = "mssql+pyodbc://{0}/{1}?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server".format(SERVER_NAME, DATABASE_NAME)
engine = create_engine(conn_string)

### Creagin the new Table from a Dataframe

In [ ]:
df.to_sql('table_name', con=engine, if_exists='replace', index=False)

### Closing the Connection

In [ ]:
engine.dispose()

## Drop a Table from SQL Server

### Dropping a Table

In [ ]:
drop_table_query = "DROP TABLE [dbo].[table_name]"

### Executing the SQL query

In [ ]:
cursor = conn.cursor()
cursor.execute(drop_table_query)
conn.commit()

cursor.close()
conn.close()